@font-face {
    font-family: Montserrat;
    src: url('../fonts/Montserrat-Regular.eot');
    src: url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-Regular.woff2') format('woff2'),
        url('../fonts/Montserrat-Regular.woff') format('woff'),
        url('../fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: Montserrat;
    src: url('../fonts/Montserrat-Bold.eot');
    src: url('../fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-Bold.woff2') format('woff2'),
        url('../fonts/Montserrat-Bold.woff') format('woff'),
        url('../fonts/Montserrat-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Alexandra Zeferino Two';
    src: url('../fonts/AlexandraZeferinoTwo.eot');
    src: url('../fonts/AlexandraZeferinoTwo.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AlexandraZeferinoTwo.woff2') format('woff2'),
        url('../fonts/AlexandraZeferinoTwo.woff') format('woff'),
        url('../fonts/AlexandraZeferinoTwo.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: Nexa;
    src: url('../fonts/NexaBold.eot');
    src: url('../fonts/NexaBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NexaBold.woff2') format('woff2'),
        url('../fonts/NexaBold.woff') format('woff'),
        url('../fonts/NexaBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.eot');
    src: url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-Regular.woff2') format('woff2'),
        url('../fonts/OpenSans-Regular.woff') format('woff'),
        url('../fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Apple Gothic';
    src: url('../fonts/AppleGothic.eot');
    src: url('../fonts/AppleGothic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AppleGothic.woff2') format('woff2'),
        url('../fonts/AppleGothic.woff') format('woff'),
        url('../fonts/AppleGothic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}